# Free Pascal specific
*.o
*.ppu
*.compiled
*.or
*.a
*.rst
*.lps
*.res
link.res
*.dbg
*.tds
*.lps.bak
# Binaries
*.exe
*.dll
*.so
*.dylib

# Backup files
*.bak
*~
*.~*
*.local

# Lazarus specific
backup/
lib/
*.lrs
*.lrt
*.lps
*.lpi.bak

# Debug files
debug/
*.dbg

# Heap trace files
heaptrc.txt
heaptrc.log

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db 
examples/SimpleDemo/SimpleDemo.dbg
examples/SimpleDemo/SimpleDemo.exe
examples/SimpleDemo/lib/x86_64-win64/cli.application.o
examples/SimpleDemo/lib/x86_64-win64/cli.application.ppu
examples/SimpleDemo/lib/x86_64-win64/SimpleDemo.o
